# Python Ka Chilla
## Jupyter Note Book
## Basics of Python

### **01- First Program**

In [79]:
print(6+7)
print("hello_intisar")
print("intisar has completed his first lecture")

13
hello_intisar
intisar has completed his first lecture

### **02- Operators**

In [80]:
print(2+1)
print(3-2)
print(2*3)
print(8/4)
print(9%2)
print(6//2)
print(2**3)
print((2**3)/2*4+5-2)

3
1
6
2.0
1
3
8
19.0

**Operators work with PEMDAS rule from left to right.**

### **03- Strings**

In [81]:
print('Test for single quotES')
print(" test for double quotes   ?")
print(''' Test for tripple quotes  ''')
print("what's up ?")
print(''' Quaid-e-Azam said "Unity is strength" ''')

Test for single quotES
 test for double quotes   ?
 Test for tripple quotes
what's up ?
 Quaid-e-Azam said "Unity is strength"

### **04- Comments**

In [82]:
print ('how are you? ')
print ("How're you doing  ?")
print (" add # in command start to comment out")
print ('press CTRL+/ to comment out')
print (5+7)

how are you?
How're you doing  ?
 add # in command start to comment out
press CTRL+/ to comment out
12

**Press CTRL+/ to comments out so it will not show in terminal.**

### **05- Variables**

**Variables: are objects having specific values.**

**Types of variables:**

**1- Integers e.g. 9**

**2- Strings e.g. "You are a good boy."**

**3- float e.g. 15.5**

**Rules to assign a variable:**

**1- The variable should contain numbers, letters(strings) or underscores.**

**2- Donot start with numbers i.e. 2y=3**

**3- Spaces are not allowed.**

**4- Donot used functional keywords used in python i.e. break, mean, median.**

**4a- Search functional keywords python on google.**

**5- Short and descriptive.**

**6- Case sensitivity (lowercase,uppercase) #lowercase should be used.**

In [83]:
x=9
print(x)

y="You are a good boy"
print(y)

x=12
print(x) #variables work in descending order

z=x+3+0.5
print(z)

#types of variables
type(x)
print(type(x))
print(type(y))
print(type(z))



fruit_basket="mangoes, oranges"
print(fruit_basket)
fruit_basket=5
print(fruit_basket)
#del fruit_basket
#print(fruit_basket)

print(type(fruit_basket))

9
You are a good boy
12
15.5
<class 'int'>
<class 'str'>
<class 'float'>
mangoes, oranges
5
<class 'int'>

In [84]:
### **06- Input Variables**

In [ ]:
fruit_basket="bananas"
print(fruit_basket)

#input variables
fruit_basket=input('what is your favorite fruit? ')
print(fruit_basket)

#input function of 2nd stage
name= input("what's you name? ")
greetings='Hello'
print(greetings, name)
#print(name, greetings)

#another way of 2nd stage input variables
print('Hello' , name)

#3rd stage input variables
name=input("what is your name? ")
#job= input("what job you do? ")
greetings='Hello!'

print(greetings, name, ", you seem too young.")

In [ ]:
### **07- Conditional Logics**

**Logical operators are either true/falue, yes/no or 0/1.**

1- equal to                   ==

2- not equal to               !=

3- less than                  <

4- greater than               >

5- less than and equal to     <=

6- greater than or equal to   >=

In [ ]:
print(4==4)
print(4!=4)
print(4>3)
print(3<2)
print(3<=3)
print(5>=2)

#applications of logical operators
hammad_age=4
minimum_age=5
print(hammad_age==minimum_age)
print(hammad_age<=minimum_age)

#input_variable and conditional_logics
minimum_age=5
hammad_age=input("How old is Hammad? ")

hammad_age=int(hammad_age)
print(hammad_age==minimum_age)

### **08- Type Conversion**

In [ ]:
x=10             #integer
y=10.2           #float
z="Hello"       #string 

print(type(x))
print(type(y))
print(type(z))

#implicit type conversion
a=x*y
print(a)
print(type(a))
print(a, ", Type of a is:", type(a))

#explicit type integer
age=input('what is your age? ')

age=int(age)
print(type(age))
print(age, type(int(age)))

print(age, type(str(age)))

print(age, type(float(age)))

#name
name=input("what is your name? ")
print(name, type(str(name)))

### **09- If, Else and Elif**

In [ ]:
required_age_at_school=5
hammad_age=5

#question= can hammad go to school

if hammad_age==required_age_at_school:
    print('Hammad can go to school.')
elif hammad_age > required_age_at_school:
    print('Hammad Should join higher school.')

elif hammad_age==2:
    print('hammad is still a baby.')

else:
    print("Hammad can't join the school")

### **10- Functions**

In [ ]:
print("I'm learning python with Ammar")
print("I'm learning python with Ammar")
print("I'm learning python with Ammar")
print("I'm learning python with Ammar")
print("I'm learning python with Ammar")
print("I'm learning python with Ammar")

#defining a function
#method 1
def print_codanics():
     print("I'm learning python.")
     print("I'm learning python.")
     print("I'm learning python.")
print_codanics()


#method 2
def print_codanics():
     text=("we're learning python.")
     print(text)
     print(text)
     print(text)
     print(text)
print_codanics()

#method 3
def print_codanics(text):
     print(text)
     print(text)
     print(text)
print_codanics("I'm trying my best to learn python.")

#defining a function with if, elif and else statements
def hammad_calculator(age):
     if age==5:
         print("Hammad can join the school.")
     elif age>5:
         print('Hammad could join higher school.')
     else:
         print('Hammad is too young to join the school.')
hammad_calculator(5)

def future_age(age):
    new_age=age+20
    print(new_age)

future_predictive_age= future_age(12)

### **11- Loops**

In [ ]:
#while loops and #for loops

#while loops
x=2
while (x<=7):
    print(x)
    x=x+1

#For loops
for x in range(4,12):
    print(x)

#array

days= ["Mon, Tue, Wed, Thu, Fri, Sat, Sun"]
for d in days:
    print(d)

days= ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for d in days:
    print(d)

days= ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for r in days:
    print(r)

days= ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for d in days:
    if d=="Fri":break #loop stops
    print(d)

days= ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for d in days:
    if d=="Thu":continue #skips the day
    print(d)

### **12- Import Libraries**

In [ ]:
#if you want to print the value of pi

import math
print("The value of pi is", math.pi)

import statistics
x=[150,250,350,450]
print(statistics.mean(x))
print(statistics.median(x))

### **13- Trouble Shooting**

In [ ]:
#print(we are learning python.) #syntax error
print("We are learning python.") #correct way

#print(25/0) #runtime error #divide by 0 not possible

name= "Intisar"
#print(Hello name)  #sematic error
print("Hello", name)
print("Hello"+ name) #add + sign if space is not required
print("Hello "+ name)